@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2 class="display-4">Welcome To HCLPaasCoe-AKS Demo</h2>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <p><h1>Table of Contents</h1></p>
        <ul style="list-style-type:none;">
            <li><p>             Day1. Developemnt Using PWD and Katakoda. </p></li>
            <li><p>Day2. Moving to Managed AKS Cluster(UAT & Production). </p></li>
            <li><p> Day3. HELM Package Manager for Deployment of YAML Files. </p></li>
            <li><p> Day4. Monitoring of Cluster using Helm Package Manager. </p></li>
            <li><p>Day5. CI-CD using Azure DevOps and Jenkins.</p></li>
            <li><p> Day6. Bonus- Deployment Strategies in Kubernetes. </p></li>
        </ul>
    </div>
